@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
	margin: 0;
	background-color: #e2000f;
	font-family: 'Roboto', sans-serif;
}

* {
	font-family: 'Roboto', sans-serif;
}

.grid {
	display: grid;
	place-items: center;
	height: 100vh;

	.enter {
		margin: 50px 0;

		.lable {
			margin: 10px;
			font-size: 22px;
			font-weight: bold;
			color: #e2000f;
			text-transform: uppercase;
		}

		.form-feild {
			background-color: #d2d2d2;
			border-radius: 20px;
			padding: 10px;
			border: 1px solid #d2d2d2;
			font-family: 'Roboto', sans-serif;
			outline: 0;
			text-align: center;

			&:focus {
				border: 1px solid #000;
			}
		}
	}

	.panel {
		background-color: #fff;
		border-radius: 20px;
		padding: 30px;
		text-align: center;
		margin: 10px;
		.terms {
			text-align: left;

			.terms-content {
				//width: 100%;
				//min-width: 600px;
				max-width: 600px;
				padding: 15px;
				background-color: #d2d2d2;
				height: 300px;

				//margin: 50px 0;
				overflow: auto;
				@media only screen and (max-width: 600px) {
					max-width: fit-content;
				}
			}
		}

		.submit {
			text-align: right;

			
		}

	}
}

.red-button {
	background-color: #e2000f;
	color: #fff;
	margin: 10px 0;
	padding: 10px 30px;
	border: 0;
	border-radius: 20px;
	font-family: 'Roboto', sans-serif;
}

.alert-danger{
    color: #842029;
    background-color: #f8d7da;
	border-color: #f5c2c7;
	position: relative;
	padding: 1rem 1rem;
	margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    border: 1px solid transparent;
    border-radius: .25rem;
}
.m-0{
	margin: 0px;
}
.mt-10{
	margin-top: 10px;
}

.mt-20{
	margin-top: 20px;
}

.uppercase{
	text-transform: uppercase;
}

.instr{
	font-size: 90%;
	font-style: italic;
}

.promo-container {
	background: #FFF;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	width: 450px;
	padding: 20px;
	margin: 0 auto;
	text-align: center;
	font-family: 'Open Sans', Arial, Sans-serif;
	color: #333;
	font-size: 16px;
	margin-top: 20px;
	margin-bottom: 50px;
  
  }

  .scratchpad {
	width: 450px;
	height: 445px;
	border: solid 10px #FFFFFF;
	margin: 0 auto;
	@media only screen and (max-width: 600px) {
		//width: fit-content;
		aspect-ratio: 450 / 445;
		width: auto;
		height: auto;
	}
  }
  .scratch-container {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	width: 100%;
  }

  canvas{
	  left: 0;
  }

  .max-width{
	  max-width: 360px;
	  margin: 0 auto;
  }

  .screenshot{
	  font-size: 90%;
  }
  .subscribe{
	  margin-top: 30px;
	  font-size: 110%;
	  font-weight: bold;
  }

  